# exclude the libraries
lib
DynamixelSDK

# exclude settings
.vscode

# exclude test workspace
ros2_ws

# exclude the build directories to avoid problems when changing the platform / host machine
hexapod_controller/build
hexapod_controller/install
hexapod_controller/log

# exclude the backup directory as we no longer need it
some_tests_BACKUP

# exclude all of the cache folders in any level of subdirectory
**/__pycache__